header{
    display: flex;
}


.highlighted-term {
    background-color: yellow;
  }
  
  .medical-term-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 1000;
    max-width: 300px;
  }
  
  .medical-term-tooltip button.speak-definition {
    display: inline-block;
    margin-left: 2px;
    
    
  }

  .content{
    height: 300px; 
    width: 250px;
    overflow: auto;
    border-radius: 1px;
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
  }

  #maintitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    margin: 0;
    vertical-align: middle;
  }

  .logo-container {
    display: inline-block;
  vertical-align: middle;
  }

  .logo{
    height: 50px;
    width: 50px;
  }


